<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>CFBundleIconFile</key>
        <string>bitcoin.icns</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleGetInfoString</key>
        <string>blocknet [BLOCKS] Crypto-Currency 1.0.0</string>
        <key>CFBundleExecutable</key>
        <string>blocknet Qt</string>
        <key>CFBundleIdentifier</key>
        <string>com.blocknet.blocknet-qt</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0.0</string>
        <key>CFBundleSignature</key>
        <string>SwFt</string>
        <key>CFBundleVersion</key>
        <string>1.0.0</string>
</dict>
</plist>
